# gitignore v1.0.4
# *.env  # environment variables, *.mp4 downloaded video, *.txt version, Inno Setup
# *.iss Inno Setup script, gh-actions private key, gh-actions.pub public key, /videos/ downloaded videos
# /log/ log files, /bin/ compiled binaries, /tmp/ temporary files, /metadata/ metadata files 
# /.github/ GitHub Actions, __pycache__/ Python cache, *.pyc Python cache, /build/ compiled binaries
# /dist/ compiled binaries
*.env
*.mp4   
*.txt
*.rtf   
*.iss   
*.pyc
*.ps1
gh-actions
gh-actions.pub
/videos/
/log/
/bin/
/tmp/
/metadata/
/.github/
/.venv/
__pycache__/
/build/
/dist/
/admin/
/tests/
/cnnvideo-timer/
.vscode/