# gitignore v1.0.4
# 排除文件和目录
# 20231020 增加排除当前目录下的videos,log,bin,tmp,metadata目录
# 20231024 增加排除当前目录下的密钥文件：gh-actions,gh-actions.pub文件
*.env
*.log
*.mp4
gh-actions
gh-actions.pub
/videos/
/log/
/bin/
/tmp/
/metadata/
/.github/
__pycache__/
*.pyc
/build/
/dist/